<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.6" targetFramework="net462" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.0.6" targetFramework="net462" />
  <package id="ILMerge" version="3.0.29" targetFramework="net462" />
  <package id="ILMerge.MSBuild.Task" version="1.0.7" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.7" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.29.0" targetFramework="net462" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net462" />
  <package id="MscrmTools.Xrm.Connection" version="1.2019.2.20" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net462" />
  <package id="Syncfusion.Core.WinForms" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.Data.WinForms" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.DataSource.WinForms" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.Grid.Base" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.Grid.Windows" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.GridCommon.WinForms" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.Licensing" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.SfInput.WinForms" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.SfListView.WinForms" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.Shared.Base" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.Shared.Windows" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.SpellChecker.Base" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.Tools.Base" version="17.2.0.34" targetFramework="net462" />
  <package id="Syncfusion.Tools.Windows" version="17.2.0.34" targetFramework="net462" />
  <package id="XrmToolBoxPackage" version="1.2019.2.30" targetFramework="net462" />
</packages>